/* Import helper style from package root */
@import "../../styles.css";

/* --- Buttons --- */
.btn-standalone button {
  padding: 8px 100px;
}

/* --- Animated Loader --- */

/* Based on loading.io */
.lds-dual-ring {
  padding: 200px 0;
}

/* --- Container for Frames --- */
.scrollable-container {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #bebebe;
  border-radius: 3px;
}

.scrollable-container.empty {
  border: 1px solid #ef5533;
}
