{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [".ts", "*.css", "*.json", "*.md"],
      "excludeFiles": [".js", "*.d.ts"]
    }
  ]
}
