body {
  font: 12px sans-serif;
  margin: 10px 15px;
  text-align: center;
}
p {
  margin: 0px;
  padding: 5px 0px;
  text-align: left;
}

h4 {
  margin: 0px;
  padding: 5px 0px;
  text-align: left;
}

/* --- Buttons --- */
.btn-standalone button {
  cursor: pointer;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 40px;
  margin: 5px 0px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}
.btn-standalone button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
#create {
  box-shadow: none;
  background: #00a9e0;
  color: white;
}
#create:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

/* --- Input --- */
input[type="text"] {
  width: 75%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  float: left;
}
input[type="checkbox"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}
input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

/* --- Grid --- */
.row {
  padding: 2px 3px;
}
.column {
  float: left;
  vertical-align: middle;
  width: 100%;
}
.column .zero-padding {
  padding: 0 !important;
}
.half {
  width: 50% !important;
}
.two-thirds {
  width: 66.7% !important;
}
.third {
  width: 33.3% !important;
}
.one-sixth {
  width: 16.7% !important;
}
.three-fourths {
  width: 75% !important;
}
.quarter {
  width: 25% !important;
}
.label {
  width: 65% !important;
}
.input-column {
  width: 35% !important;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* --- Checkbox --- */
/* The container */
.container {
  padding: 3px 0px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.toggle-display {
  display: none;
}

.toggle-display.is-visible {
  display: block;
}

/* --- Custom Radio Button --- */
/* Based on Codepen by Sal */
.options-radio-buttons-wrapper {
  clear: both;
  display: inline-block;
}
.options-radio-button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.options-radio-button + label {
  float: left;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #28608f;
  margin-right: -1px;
  color: #fff;
  background-color: #00a9e0;
}
.options-radio-button + label:first-of-type {
  border-radius: 0.7em 0 0 0.7em;
}
.options-radio-button + label:last-of-type {
  border-radius: 0 0.7em 0.7em 0;
}
.options-radio-button:checked + label {
  background-color: #4b86b4;
}
