body {
  font: 12px sans-serif;
  margin: 10px 15px;
  text-align: center;
}

p {
  margin: 0;
  padding: 5px 0;
  text-align: left;
}

.validator {
  color: #ef5533;
  display: none;
}

.validator.show {
  display: block;
}

.warning {
  color: #dd571c;
  display: none;
}

.warning.show {
  display: block;
}

.okay {
  color: #1b8a6b;
  display: none;
}

.okay.show {
  display: block;
}

h4 {
  margin: 0;
  padding: 5px 0;
  text-align: left;
}

/* --- Buttons --- */
.btn-standalone button {
  cursor: pointer;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  margin: 5px 0;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

.btn-standalone.primary button {
  background: #18a0fb;
  color: white;
  box-shadow: inset 0 0 0 1px white;
}

.btn-standalone button:focus {
  box-shadow: 0 0 0 2px #b9e2fe;
}

.btn-standalone button:disabled {
  background: #f8f8f8;
  color: #bebebe;
  box-shadow: inset 0 0 0 1px #bebebe;
}

/* --- Select --- */
select {
  width: 95%;
  height: 25px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  float: left;
}

select:hover {
  box-shadow: inset 0 0 0 2px #b9e2fe;
}

select:focus {
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #b9e2fe;
}

select::selection {
  background: #c8c8c8;
}

select:focus::selection {
  background: #b9e2fe;
}

select:disabled {
  color: #bebebe;
}

/* --- Input --- */
input[type="text"] {
  width: 95%;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  float: left;
}

input[type="checkbox"] {
  width: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  text-align: left;
}

input[type="text"]:hover {
  box-shadow: inset 0 0 0 2px #b9e2fe;
}

input:focus {
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #b9e2fe;
}

input::selection {
  background: #c8c8c8;
}

input:focus::selection {
  background: #b9e2fe;
}

input:disabled {
  color: #bebebe;
}

.invalid {
  box-shadow: inset 0 0 0 1px #ef5533;
}

/* --- Grid --- */
.row {
  padding: 2px 3px;
}

.column {
  float: left;
  vertical-align: middle;
  width: 100%;
}

.column .zero-padding {
  padding: 0 !important;
}

.half {
  width: 50% !important;
}

.two-thirds {
  width: 66.7% !important;
}

.third {
  width: 33.3% !important;
}

.one-sixth {
  width: 16.7% !important;
}

.three-fourths {
  width: 75% !important;
}

.quarter {
  width: 25% !important;
}

.eighty {
  width: 80% !important;
}

.eighty-five {
  width: 85% !important;
}

.twenty {
  width: 20% !important;
}

.fifteen {
  width: 15% !important;
}

.label {
  width: 65% !important;
}

.input-column {
  width: 35% !important;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* --- Checkbox --- */

/* The container */
.container {
  padding: 3px 0;
  display: block;
  position: relative;
  cursor: pointer;
  width: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  vertical-align: middle;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.container .figma-checkbox {
  position: absolute;
  top: 6px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #000;
}

.container .figma-checkbox::after {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  height: 0;
  width: 0;
  border-radius: 2px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

.container input:hover ~ .figma-checkbox {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #b9e2fe;
}

.container input:focus ~ .figma-checkbox {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #b9e2fe;
}

.container input:disabled ~ .figma-checkbox {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #bebebe;
  border: 1px solid #bebebe;
}

.container input:checked ~ .figma-checkbox {
  background-color: #18a0fb;
  border-radius: 2px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #18a0fb;
}

.container input:checked ~ .figma-checkbox::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 2.5px;
  top: 0;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  background-color: transparent;
  border-radius: 0;
}

.toggle-display {
  display: none;
}

.toggle-display.is-visible {
  display: block;
}

/* --- Animated Loader --- */

/* Based on loading.io */
.lds-container {
  position: fixed;

  /* Sit on top of the page content */
  display: none;

  /* Hidden by default */
  width: 100%;

  /* Full width (cover the whole page) */
  height: 100%;

  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  /* Black background with opacity */
  z-index: 100 !important;

  /* Specify a stack order in case you're using a different order for other elements */
}

.lds-container.is-visible {
  display: block;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 21px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
